<!-- Contenedor principal para la sección de visualización de tablas -->
<div class="contenedor">
  <!-- Sección de opciones que contiene un menú desplegable para seleccionar una tabla -->
  <div class="opciones">
    <!-- Etiqueta para el menú desplegable -->
    <label for="tablas">VER TABLA</label>
    <!-- Menú desplegable con opciones que representan diferentes tablas de datos -->
    <select name="tablas" id="tablas" (change)="obtenerData($event)">
      <!-- Cada opción representa una tabla diferente -->
      <option value="Cliente">Clientes</option>
      <option value="Tecnico">Tecnicos</option>
      <option value="Empresa" selected>Empresas</option>
      <option value="Conocimiento">Conocimientos</option>
      <option value="Categoria">Categorias</option>
      <option value="Proyecto">Proyectos</option>
      <option value="TecnicosProyecto">TecnicosProyectos</option>
    </select>
  </div>

  <!-- Estructura de control 'switch' para mostrar diferentes componentes basados en la tabla seleccionada -->
  @switch (nomTabla) { @case ("Cliente") {
  <app-tablas [tabla]="nomTabla" [data]="data" [campos]="['id', 'nombre']" />

  } @case ("Categoria") {
  <app-tablas [data]="data" [campos]="['id', 'nombre']" />

  } @case ("Empresa") {
  <app-tablas [data]="data" [campos]="['id', 'nombre']" />

  } @case ("Tecnico") {
  <app-tablas
    [data]="data"
    [campos]="[
      'id',
      'empresaId',
      'nombre',
      'categoriaId',
      'fechaAlta',
      'fechaBaja'
    ]"
  />
  } @case ("Conocimiento") {
  <app-tablas [data]="data" [campos]="['id', 'nombre']" />

  } @case ("Proyecto") {
  <app-tablas
    [data]="data"
    [campos]="['id', 'nombre', 'fechaInicio', 'fechaFin', 'clienteId']"
  />
  }@case ("TecnicosProyecto") {
  <app-tablas
    [data]="data"
    [campos]="['id', 'tecnicoId', 'proyectoId', 'fechaAsignacion', 'fechaCese']"
  />
  } }
</div>
